body {
	background-size: cover;
	background-position: center;
	color: #3d415e;
	font-family: 'Open Sans', sans-serif;
}

html {
	height: 100%;
}

#main_banner {
	background: url(../assets/img/sergi-kabrera-pool.jpg);
}

#logo_container {
  	text-align: center;
	width: 100%;
}

#content {
	text-align: center;
	padding: 20px 0 20px 0;
}

#brand_logo {
	width:80;
}

#main_about {
	margin-bottom: 20px;
}

#spash_logo {
	width: 50%;
}

#legacy-call {
	font-size: 1.25em;
	color: #2380ea;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

#contact-section {
	margin-bottom: 80px;
}

#contact-call {
	font-size: 1.25em;
}

/* h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 5em;
} */

hr {
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.service-title {
	font-weight: bold;
}

.service-price {
	color: #2380ea;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 1.50em;
}

.card-body img {
	border: 1px solid #0695c1;
}

.card-body p {
	line-height: 1.5em;
}

#contact-call {
	font-style: italic;
	font-weight: bold;
}