body {
	background-size: cover;
	background-position: center;
	color: #3d415e;
}

html {
	height: 100%;
}

#main_banner {
	background: url(../assets/img/sergi-kabrera-pool.jpg);
}

#logo_container {
  	text-align: center;
	width: 100%;
}

#content {
	text-align: center;
	padding: 20px 0 20px 0;
}

#brand_logo {
	width:80;
}

#main_about {
	margin-bottom: 20px;
}

#spash_logo {
	width: 50%;
}

#legacy-call {
	font-size: 1.5em;
	color: #2380ea;
	font-weight: bold;
}

#contact-section {
	margin-bottom: 80px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.service-title {
	font-weight: bold;
}

.service-price {
	color: #2380ea;
	font-style: italic;
	font-size: 1.50em;
}

.submit-btn {
	/* background-color: #c6dcf7; */
}

.card-body img {
	border: 2px solid #f8d347;
}